<style media="screen">
body {
    margin-bottom: 0 !important;
}
        
        .docButton {
           padding: 10px 17px !important;
           font-size: 20px !important;
           margin: 20px 0;
        }
        
        .divWrap {
          display: inline-block;
          margin: 70px 50px;
        }      
        .divWrap .dropdown-menu {
        left: 39px;
        }
        .bigger { 
          font-size: 56px;
          color: #FFF;
        }
</style>
{{ partial "head.html" . }}
<body style="overflow: hidden;">
{{ partial "header.html" . }}
{{if ne .Title "Documentation"}}
    <div class="span9 single-content">
      <section id="thankyou">
        <div class="page-header">
          <h1>{{ .Title }}</h1>
        </div>
        {{ .Content }}
      </section>
    </div>
      {{else}}
      <div style="height: 100%;" class="carousel-inner slider-w">
        <div class="divWrap">
         <i class="icon-book bigger"></i><br>
          <button onclick="window.open('https://www.gitbook.com/book/despiegk/jumpscale/details', '_blank');" type="button" class="btn btn-default docButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true">Jumpscale Documentation</span>
          </button>
          <br/>
          <div class="dropdown">
          <button class="btn btn-default btn-lg dropdown-toggle  docButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="https://www.gitbook.com/download/pdf/book/despiegk/jumpscale">Download PDF</a>
          </li>
          <li>
              <a href="https://www.gitbook.com/download/epub/book/despiegk/jumpscale">Download EPUB</a>
          </li>
          <li>
              <a href="https://www.gitbook.com/download/mobi/book/despiegk/jumpscale">Download MOBI</a>
          </li>
          </ul>
          </div> 
      </div>

        <div class="divWrap">
        <i class="icon-code bigger"></i><br>
            <button onclick="window.open('https://www.gitbook.com/book/despiegk/jumpscaleapi/details', '_blank');"  type="button" class="btn btn-default docButton" aria-label="Left Align">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true">Jumpscale API Documentation</span>
            </button>
            <br/>
            <div class="dropdown">
          <button class="btn btn-default btn-lg dropdown-toggle  docButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download<span class="caret"></span>
          </button>
          <ul style="left: 56px;" class="dropdown-menu">
            <li>
              <a href="https://www.gitbook.com/download/pdf/book/despiegk/jumpscaleapi">Download PDF</a>
          </li>
          <li>
              <a href="https://www.gitbook.com/download/epub/book/despiegk/jumpscaleapi">Download EPUB</a>
          </li>
          <li>
              <a href="https://www.gitbook.com/download/mobi/book/despiegk/jumpscaleapi">Download MOBI</a>
          </li>
          </ul>
          </div> 
        
      </div>
      {{ partial "footer.html" . }}
      {{end}}
<div class="container docs-w">
  <div class="row">
    {{if ne .Title "Documentation"}}
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
				{{ range $element := where .Site.Pages "Section" "pages" }}
					{{ if ne .RelPermalink "/thanks"}}
	        	<li class=""><a href="{{ $element.RelPermalink }}"><i class="icon-chevron-right"></i> {{ $element.Title }}</a></li>
					{{ end }}
				{{ end }}
        {{ $currentLink := .RelPermalink }}
        {{ range $element := where .Site.Pages "Section" "documentation" }}
          {{if eq .Title "_Sidebar" }}
            {{ $withoutSidebar := replace .RelPermalink "_Sidebar/" "" }}
            {{ $filterCurrentLink := replace $currentLink $withoutSidebar "" }}
            {{ $currentItemInLoopLink := $filterCurrentLink | printf "%s%s" $withoutSidebar }}
            {{if eq $currentItemInLoopLink  $currentLink}}
              {{.Content}}
            {{end}}
          {{end}}
        {{ end }}
      </ul>
    </div>
    {{end}}
  </div>
</div>

<!--  <script src="js/jquery-1.10.1.min.js" type="text/javascript"></script>-->
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/prettify.js" type="text/javascript"></script>
<script src="/js/lightbox.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
