<div class="navbar navbar-inverse navbar-fixed-top"  style="display:none;">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/System">System</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header id='header'>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'> <span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span> </a> <a href="../www_jumpscale/" class="brand">JumpScale</a>
        <div class="nav-collapse subnav-collapse collapse pull-right" id="top-navigation">
          <ul class='nav'>
            <li class='active'> <a href="/">Home</a> </li>
            <li class=''> <a href="#">Documentation</a> </li>
            <li class=''> <a href="#">Subscribe</a> </li>
            <li class=''> <a href="#">Contact</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
