<link rel="shortcut icon" href="../images/favicon.ico">
<header id='header'>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'> <span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span> </a> <a href="/" class="brand">JumpScale</a>
        <div class="nav-collapse subnav-collapse collapse pull-right" id="top-navigation">
          <ul class='nav'>
            <li class=''> <a href="/">Home</a></li>
            <li class=''> <a href="/documentation">Documentation</a></li>
            <li class=''> <a href="/contact-us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
